.home-container {
    position: relative;
    padding-top: 10vw; 
}

.home-image {
    position: absolute;
    left: 8vw; 
    top: 120%; 
    transform: translateY(-50%); 
    width: 45vw; 
    height: auto; 
}




