.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    color: #333;
    border-bottom: 1px solid #333;
  }
  
  .navbar-left {
    color: #333;
    display: flex;
    align-items: center;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .menu-icon {
    display: none;
    font-size: 5vw;
    cursor: pointer;
  }

  .menu {
    display: flex;
    gap: 20px;
  }

  .menu-container {
    position: relative;
  }
  
  .menu-container:hover .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: -18px;
    background-color: white;
    border: 1px solid #333;
    padding: 10px;
    z-index: 1000;
    min-width: 150px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  }

  .menu-container .menu {
    right: 10px;
  }

  .menu a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
    white-space: nowrap;
  }

  .menu a:hover {
    background-color: #f0f0f0;
  }

  .navbar-right a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar-right a:hover {
    text-decoration: underline;
  }
  
  .social-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  
  .social-icon:hover {
    opacity: 0.7;
  }

/* Mobile view */
@media (max-width: 768px) {
  .navbar-right {
      flex-direction: column;
      align-items: flex-start;
  }

  .menu {
      display: none; /* Hide the regular menu */
  }

  .menu-icon {
      display: block; /* Show the ≣ icon */
  }

  /* Apply hover dropdown only when the ≣ icon is visible */
  .menu-container:hover .menu {
      display: flex;
  }
}


/* Full screen view */
@media (min-width: 769px) {
  .menu {
      display: flex; /* Show the regular menu */
  }

  .menu-container:hover .menu {
      display: none; /* Disable hover dropdown on larger screens */
  }
}
  